@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: "roboto";
}

.header .nav , .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
    padding: 0 2rem;
}
.nav .nav__h2 {
    font-size: 3rem;
    color: #1c0040;
}
.button {
    border: none;
    padding: 1.2rem 2rem;
    border-radius: 3rem;
    background-color:#1c0040;
    color: #e7e2f1;
    font-weight: bolder;
}
.skill {
    margin-top: 2rem;
    min-height: 30rem;
    margin: 0 auto;
    padding: 0 1.5rem ;
}

.skill .skill__text .h1{
    font-size: 4rem;
    margin-bottom: 2rem;
    color: #1c0040;
}
.skill .skill__text .p{
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #9a92a8;
}
.skill .button--orange {
    background-color: #f7006b;
}
.skill .skill__imgtex{
    min-height: 30rem;
    font-size: 2rem;
    position: relative;
    margin-top: 3rem;
    width: 100%;
}
.skill__imgtex h2{
    color: #1c0040;
}
.skill__imgtex--img {
    border: solid white;
    overflow: hidden;
    max-width: 90%;
}
.skill .skill__imgtex img{
    width: 100%;
    border-radius: 50%;
}
.skill .skill__imgtex--data{
    position: absolute;
    padding: 1rem;
    width: auto;
    height: auto;
    text-align: center;
    border-radius: 2rem;
    background-color: white;
    border-bottom: solid #f5f2fd 0.2rem;
}
.skill .cours{
    left: -1rem;
    bottom: 7rem;
}
.skill .members{
    right: 3rem;
    top: 2rem;
}
.gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
    padding: 5rem 3rem 10rem;
    background-color: #f5f2fd;
}
.gallery .gallery__card {
    width: 100%;
    position: relative;
    border-radius: 2rem;
    max-width: 40rem;
}
.gallery .gallery__card--color-white {
    background-color: white;
    padding: 2rem 4rem;
}
.gallery__parrafo--rose{
    background-color: #fd3755;
    font-size: 2rem;
    color: white;
    font-size: 3.5rem;
    padding: 3rem;
}
.gallery__card .contimg {
    border-radius: 50%;
    background-color: #f70088;
    position: absolute;
    top: -3rem;
    display: flex;
    height: 7rem;
    width: auto;
    overflow: hidden;
}
.gallery__card img {
    height: auto;
    width: auto;
}
.gallery__card .title {
    margin-top: 5rem;
    font-size: 3rem;
    margin-bottom: 1.5rem;
    color: #1c0040;
}
.gallery__card .subtitle {
    color:  #d400c0;
}
.gallery .parrafo {
    font-size: 1.8rem;
    color: #9a92a8;
}
footer {
    font-weight: bolder;
    background-color: #1c0041;
    color: #fffffd;
}
footer .footer__h2 {
    font-size: 3rem;
}
footer .footer__button--pink {
    background-color: #d400c0;
}
@media (min-width:600px) {
    body {
        margin: 0 auto;
    }
    .skill {
        display: grid;
        grid-template-columns: 1fr;
        gap: 5rem;
        max-width: 80%;
    }
    .skill__texwidth {
        max-width: 80%;
    }
    .skill .cours{
        left: -5rem;
        bottom: 9rem;
    }
}

@media (min-width:750px) {
    body {
        margin: 0 auto;
    }
    .skill {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5rem;
        max-width: 90%;
    }
    .skill__texwidth {
        max-width: 80%;
    }
    .skill .cours{
        left: -5rem;
        bottom: 9rem;
    }
}